

.personal__detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}
.personal__detail-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem ;
}
.required-asterisk {
    color: red;
  }
.input__field{
   display: flex;
   align-items: center;
   gap: 1.5rem;
}
.error__display{
   display: flex;
   gap: 0.2rem;
   flex-direction: column;
}
.error__display-message{
   color: red;
   font-size: 0.7rem;
   font-weight: 300;
}

#select__sex-label{
   position: absolute;
   left: 2px;
   top: -7px;
}
#select__govt-id-label{
   position: absolute;
   left: 2px;
   top: -7px;
}
  