.user__data{
    height: 80%;
    padding: 5rem;
}
.display{
    border: 1px solid black;
}
.table__head{
    background-color: rgb(126, 207, 145);
    border: 3px solid black !important;
}
.table__head th{
   border: 1px solid rgb(44, 43, 43) !important; 
   text-align: center !important;
}
.dataTables_length{
    margin-bottom: 15px;
}
.dataTables_length label{
    display: flex;
    gap: 15px;
    align-items: center;
}
.dt-buttons{
    margin-left: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;   
}
.dt-button{
   padding: 0 !important;
   height: 30px;
    width: 60px;

}